[submodule "libs/libdxfrw"]
	path = libs/libdxfrw
	url = https://github.com/codelibs/libdxfrw.git
	branch = master
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git